<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
</head>
<body>
    <header>
        <h1>Canard</h1>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
        {% block footer %}
            <a href="{{ url_for('hello', name='Ben') }}">Hello Ben ?</a>
        {% endblock %}
    </footer>
</body>
</html>