{% extends "base.html" %}
{% block title %}Hello from Flask{% endblock %}
{% block content %}
  {% if name %}
  <h1>Hello {{ name }}!</h1>
  {% else %}
  <h1>Hello, World!</h1>
  {% endif %}
{% endblock %}