{% extends "base.html" %}
{% block title %}Ceci esT L'INDEX{% endblock %}
{% block content %}
    <h1>Bienvenue</h1>
    <h1>Hello, World!</h1>
    <p class="important">
        Welcome to my awesome homepage.
    </p>
{% endblock %}
